html
  head
    title=title
    include head.pug
    //Uses the Title variable from the value passed from app.js to display the assigned string "Hey"
  body
    include navbar.pug
    h1=message
      //Uses the message variable from the value passed from app.js to display the assigned string "Hello there"
    