div#Navbar
    ul
        li 
            button#HomeButton(type='submit') Home
        li 
            button#All-Games(type="button") All Games
        li 
            button#Sale-Today(type="button") Daily Deals
        li 
            button#Add-Game(type="button") Add Game
        li 
            button#Delete-Game(type="button") Delete Game
        li 
            button#Search-Game(type="button") Search Game

div#Sale-Today-Dropdown
    ul
        li 
            button#Todays-Sales-Show(type="button") Show Today's Sales
        li 
            button#Todays-Sales-All(type="button") Get Today's Sales
        li
            button#Todays-Sales-Date(type="button") Sales On Date
        li
            button#Copy-Sales-On-Date(type="button") Copy Sales On Date
        li
            button#Chart-Button(type="button") Chart