html
    head
      title Game Removed
      include head.pug
    body#L_Green
      include navbar.pug
      H1#centered Deleted Game
      br
      for data in result
        Span
          div#Game_Container_Search
            img(src=data.IMG_Link)#Search_IMG
            br
            br
            a(href=data.Steam_Link)
              strong=data.Game_Name
            br
            a 
              strong Price: 
              -if (data.Price === 0)
                ="Coming Soon"
              -else
                ="$" + data.Price
            br
            a
              strong Description: 
              =data.Description
            P To readd, please use the App ID: 
              =data.App_ID