html
    head#test
      title Hello there
    body#test
      include navbar.pug
      h1 This is a ${Name} message.  Thanks for working
      h1 This is a ${Name2} test message.  Thanks for working
      h1 This is a ${Name3} test message.  Thanks for working
      button#TestSQLButton(type="button") Test